<template>
  <div class="flex flex-col justify-between border-2 border-white p-2 h-full w-full">
        <div class="flex flex-col justify-center items-center inline-block">
            <div id="clock" class="inline-block font-mono leading-none text-16vw text-center text-shadow-solid whitespace-no-wrap">
                <template v-if="mode == 'clock'">{{ time }}</template>
                <template v-if="mode == 'hex'">{{ hex }}</template>
            </div>
        </div>
    </div>
</template>

<script>
window.Vue = require('vue');
let { DateTime } = require('luxon');
export default{
    data() {
        return {
            mode: 'clock',
            now: DateTime.local(),
            timeFormat: 'hh:mm:ss'
        }
    },
    computed: {
        appStyles() {
            return {
                backgroundColor: `rgb(${this.rgb.r}, ${this.rgb.g}, ${this.rgb.b})`
            };
        },
        clockButtonStyles() {
            return this.mode != 'clock' ? { backgroundColor: 'rgba(255, 255, 255, .5)' } : {};
        },
        hexButtonStyles() {
            return this.mode !='hex' ? { backgroundColor: "rgba(255, 255, 255, .5)" } : {};
        },
        hex() {
            return Object.values(this.rgb).map(
                value => value.toString(16).toUpperCase().padStart(2, '0')
            ).join(':');
        },
        rgb() {
            return {
                r: Math.round(this.now.hour * (255 / 23)),
                g: Math.round(this.now.minute * (255 / 59)),
                b: Math.round(this.now.second * (255 / 59))
            };
        },
        time() {
            return this.now.toFormat(this.timeFormat);
        }
    },
    created() {
        interval = setInterval(() => this.now = DateTime.local(), 1000);
        this.mode = localStorage.getItem('mode') || 'clock';
        this.timeFormat = localStorage.getItem('timeFormat') || 'hh:mm:ss';
    },
    watch: {
        mode: mode => localStorage.setItem('mode', mode),
        timeFormat: format => localStorage.setItem('timeFormat', format)
    }
}
</script>

<style>


</style>
