<template>
     <div class="col-lg-12 col-xl-12">
          <div class="main-card mb-3 card">
               <div class="grid-menu grid-menu-3col">
                    <div class="no-gutters row">
                         <div class="col-sm-3">
                              <div class="widget-chart ">
                                   <div class="icon-wrapper rounded-circle">
                                        <div class="icon-wrapper-bg bg-primary"></div>
                                        <i class="fas fa-users text-primary"></i>
                                   </div>
                                   <div class="widget-numbers">{{ users.length }}</div>
                                   <div class="widget-subheading">Usuarios</div>
                              </div>
                         </div>
                         <div class="col-sm-3">
                              <div class="widget-chart">
                                   <div class="icon-wrapper rounded-circle">
                                        <div class="icon-wrapper-bg bg-info"></div>
                                        <i class="fas fa-question-circle text-info"></i>
                                   </div>
                                   <div class="widget-numbers">{{ questions.length }}</div>
                                   <div class="widget-subheading">Preguntas</div>
                              </div>
                         </div>
                         <div class="col-sm-6">
                              <div class="widget-chart">
                                   <div class="icon-wrapper rounded-circle">
                                        <div class="icon-wrapper-bg bg-danger"></div>
                                        <i class="fas fa-clock text-danger"></i>
                                   </div>
                                   <div class="widget-numbers"><clock-component></clock-component></div>
                                   <div class="widget-subheading"> Tiempo </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</template>

<script>
import ClockComponent from './ClockComponent.vue';

export default {
    name: 'Count',
    props: ['users', 'questions'],
    components: {
          ClockComponent
    },
}
</script>

<style>

</style>
