<template>
     <div class="ifr" v-if="iframe">
          <div v-html="iframe"></div>
     </div>
</template>

<script>
import Echo from 'laravel-echo'
window.Pusher = require('pusher-js');

export default{
     name:'DashboardUser',
     data() {
          return {
               'iframe' : '',
          }
     },
     methods: {
          notification_all: function (e) {
               this.$swal({
                    title: 'Mensaje del administrador',
                    text: e.notification,
                    imageUrl: 'https://i.pinimg.com/originals/e0/43/89/e04389888734b5a55440da813f5f229f.gif',
                    imageWidth: 150,
                    imageHeight: 100,
                    showClass: {
                         popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                         popup: 'animate__animated animate__fadeOutUp'
                    }
               })
          }
     },
     mounted (){
          window.Echo = new Echo({
               broadcaster: 'pusher',
               key: 'ASDASD2121',
               wsHost: window.location.hostname,
               wsPort: 6001,
               wssPort: 6001,
               wssHost: window.location.hostname,
               disableStats: true,
               forceTLS: true
          })

          window.Echo.channel('users-notification').listen('NotificationUsers', (e) => {
               this.notification_all(e);
          })

          window.Echo.channel('users-iframe').listen('IframeUsers', (e) => {
               this.iframe = e.iframe;
          })
     }
}
</script>
<style>
     .ifr{
          padding: 10px;
          background-color: #373737;
          border-radius: 5px;
     }
</style>
