<template>
     <div>
          <div class="row">
               <count-component
               :users = users
               :questions = questions
               ></count-component>
          </div>
          <div class="row">
               <div class="col-md-6">
                    <table-users-component
                    :users = users
                    :questions = questions
                    ></table-users-component>
               </div>
               <div class="col-md-6">
                    <table-question-component
                    :users = users
                    :questions = questions.slice().reverse()
                    ></table-question-component>
               </div>
          </div>
     </div>
</template>

<script>
     import Echo from 'laravel-echo'
     window.Pusher = require('pusher-js');
     import CountComponent from './CountComponent.vue';
     import TableUsersComponent from './TableUsersComponent.vue';
     import TableQuestionComponent from './TableQuestionComponent.vue';

     export default{
          name:'Dashboard',
          props: ['prop_users', 'prop_questions'],
          components: {
               CountComponent, TableUsersComponent, TableQuestionComponent
          },
          data() {
               return {
                    'users' : this.prop_users,
                    'questions' : this.prop_questions
               }
          },
          methods: {
               add_questions: function (e) {
                    this.questions.push({id: e.id, question: e.question , user_id: e.user_id , accepted: 0, created_at:e.created_at});
               },
               add_users: function (e) {
                    this.users.push({id: e.id, name: e.name , email: e.email});
               }
          },
          created: function () {
               Event.$on('recargar_preguntas', (list) => {
                    this.questions = list;
               });
          },
          mounted (){
               window.Echo = new Echo({
                    broadcaster: 'pusher',
                    key: 'ASDASD2121',
                    wsHost: window.location.hostname,
                    wsPort: 6001,
                    wssPort: 6001,
                    wssHost: window.location.hostname,
                    disableStats: true,
                    forceTLS: true
               })
               window.Echo.channel('home').listen('NewMessage', (e) => {
                    this.add_questions(e);
               })
               window.Echo.channel('new-user').listen('NewUser', (e) => {
                    this.add_users(e);
               })
          }
     }


</script>
