<template>
     <div class="main-card mb-3 card ">
          <div class="card-header">Preguntas</div>
          <ul class="todo-list-wrapper list-group list-group-flush" style="max-height: 400px; overflow: auto;">
               <li class="list-group-item" v-for="question in sorted_candidates">
                    <div :class=" 'todo-indicator ' + color_question(question.accepted)" ></div>

                    <!-- <div :class="'todo-indicator' {{ color_question(question.accepted) }}" ></div> -->
                    <div class="widget-content p-0">
                         <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                   <div class="widget-heading">{{ get_user(question.user_id) }}</div>
                                   <div class="widget-subheading"> {{ question.question }}  </div>
                              </div>
                              <div class="widget-content-right widget-content-actions">
                                   <button @click.prevent="question_answered( question.id, '1')" class="border-0 btn-transition btn btn-outline-success">
                                        <i class="fa fa-check"></i>
                                   </button>
                                   <button @click.prevent="question_answered( question.id, '2')" class="border-0 btn-transition btn btn-outline-warning">
                                        <i class="fas fa-times"></i>
                                   </button>
                                   <button @click.prevent="delete_question( question.id )" class="border-0 btn-transition btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                   </button>
                              </div>
                         </div>
                    </div>
               </li>
          </ul>
     </div>
</template>

<script>


export default {
     name: 'QuestionUsers',
     props: ['users', 'questions'],
     methods: {
          get_user: function(user_id){
               var name = '';
               this.users.forEach(function(element) {
                    if(element.id == user_id ){
                         name = element.name;
                    }
               });
               return name;
          },
          color_question:function(status) {
               if (status == 1) {
                    return 'bg-success';
               }else if(status == 2) {
                    return 'bg-warning';
               }else {
                    return 'bg-info';
               }
          },
          question_answered: function(preguna_id, type){
               var questions = this.questions;

               axios.post('/admin/edit_question', {
                    preguna_id: preguna_id,
                    type: type
               }).then(function(response) {
                    var indx = '';
                    questions.reduce(function(trues, v, k) {
                         if (v.id === preguna_id) {
                              indx = k;
                         }
                    },[]);

                    questions.splice(indx, 1, response.data);
                    Event.$emit('recargar_preguntas', questions);

               }).catch(function(error) {
                    // console.log(error);
               });
          },
          delete_question:function(preguna_id) {
               var questions = this.questions;
               this.$swal({
                    title: '¿Desea eliminar la pregunta?',
                    text: 'ya no podrá recuperar la pregunta',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
               }).then((result) => {
                    axios.post('/admin/delete_question', {
                         preguna_id: preguna_id
                    })
                    .then(function (response) {
                         var indx = '';
                         questions.reduce(function(trues, v, k) {
                              if (v.id === preguna_id) {
                                   indx = k;
                              }
                         },[]);

                         questions.splice(indx, 1);
                         Event.$emit('recargar_preguntas', questions);

                    })
                    .catch(function (error) {
                         console.log(error);
                    });
               });
          }
     }
     ,
     computed : {
          sorted_candidates() {
               return this.questions.sort((a, b) => { return b.id - a.id ;});
          }
     }
}
</script>

<style>

</style>
