<template>
     <div class="main-card mb-3 card">
          <div class="card-header">Usuarios</div>
          <ul class="list-group list-group-flush" style="max-height: 400px; overflow: auto;">
               <li class="list-group-item" v-for="user in users">
                    <div class="widget-content p-0">
                         <div class="widget-content-wrapper">
                              <div class="widget-content-left">
                                   <div class="widget-heading">{{ user.name }}</div>
                                   <div class="widget-subheading">{{ user.email }}</div>
                              </div>
                              <div class="widget-content-right">
                                   <div class="widget-numbers text-primary">{{ count_question(user.id) }}</div>
                              </div>
                         </div>
                    </div>
               </li>          
          </ul>
     </div>
</template>

<script>
export default {
    name: 'TableUsers',
    props: ['users', 'questions'],
    data: function () {
          return {
               examen_id : ''
          }
     },
    methods: {
          count_question: function(user_id){
               var count = 0;
               this.questions.forEach(function(element) {
                    if(element.user_id == user_id ){
                         count +=1;
                    }
               });               
               return count;
          },
    }
}
</script>

<style>

</style>